### Training a model on house-1 data only with the Null values filled as 0.

In [2]:
import pandas as pd 
import json 
import src

In [3]:
household_id = 1

In [4]:
dataset = src.read_json("Dataset/dataset.json")
household = src.read_json(f"Dataset/{dataset['files'][f'household_{household_id}']}")

In [5]:
plugs_columns = [household['plug_data']['plugs'][i]['appliance'] for i in household['plug_data']['plugs'].keys()]
plugs_columns

['Fridge',
 'Dryer',
 'Coffee machine',
 'Kettle',
 'Washing machine',
 'PC (including router)',
 'Freezer']

In [6]:
train_path = "train_data_house1.csv"
test_path = "test_data_house1.csv"
chunk_size = 200_000

In [7]:
reader = pd.read_csv(train_path, chunksize=chunk_size, iterator=True)
train_chunk = next(reader)

In [8]:
train_chunk.head()

,powerallphases,powerl1,powerl2,powerl3,currentneutral,currentl1,currentl2,currentl3,voltagel1,voltagel2,...,phaseanglecurrentvoltagel1,phaseanglecurrentvoltagel2,phaseanglecurrentvoltagel3,Fridge,Dryer,Coffee machine,Kettle,Washing machine,PC (including router),Freezer
0,253.958,219.562,25.134,9.262,1.3371,1.4943,0.2200,0.1208,238.57,239,...,333,305,290,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,254.103,219.415,25.163,9.525,1.3347,1.4943,0.2207,0.1217,238.57,239,...,333,305,291,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,253.872,219.434,25.032,9.406,1.3299,1.4893,0.2204,0.1217,238.57,239,...,333,305,291,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,254.063,219.251,25.119,9.693,1.3294,1.4893,0.2210,0.1217,238.57,239,...,333,305,291,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,253.928,219.306,25.293,9.329,1.3290,1.4893,0.2210,0.1199,238.57,239,...,333,305,291,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
train_chunk[plugs_columns] = train_chunk[plugs_columns].astype(int)

In [13]:
train_chunk.head()

,powerallphases,powerl1,powerl2,powerl3,currentneutral,currentl1,currentl2,currentl3,voltagel1,voltagel2,...,phaseanglecurrentvoltagel1,phaseanglecurrentvoltagel2,phaseanglecurrentvoltagel3,Fridge,Dryer,Coffee machine,Kettle,Washing machine,PC (including router),Freezer
0,253.958,219.562,25.134,9.262,1.3371,1.4943,0.2200,0.1208,238.57,239,...,333,305,290,1,0,0,0,0,0,0
1,254.103,219.415,25.163,9.525,1.3347,1.4943,0.2207,0.1217,238.57,239,...,333,305,291,1,0,0,0,0,0,1
2,253.872,219.434,25.032,9.406,1.3299,1.4893,0.2204,0.1217,238.57,239,...,333,305,291,0,0,0,0,0,0,1
3,254.063,219.251,25.119,9.693,1.3294,1.4893,0.2210,0.1217,238.57,239,...,333,305,291,0,0,0,0,0,0,0
4,253.928,219.306,25.293,9.329,1.3290,1.4893,0.2210,0.1199,238.57,239,...,333,305,291,1,0,0,0,0,0,1

In [12]:
train_chunk.to_csv("house_1_chunks/train.csv", index=False)

In [ ]:
chunk_size = 60_000

In [14]:
reader = pd.read_csv(test_path, chunksize=chunk_size, iterator=True)
test_chunk = next(reader)
test_chunk[plugs_columns] = test_chunk[plugs_columns].astype(int)
test_chunk.to_csv("house_1_chunks/test.csv", index=False)