### Training a model on house-1 data only with the Null values filled as 0.

In [11]:
import pandas as pd 
import json 
import src
from sklearn.model_selection import train_test_split

In [2]:
household_id = 1

In [3]:
dataset = src.read_json("Dataset/dataset.json")
household = src.read_json(f"Dataset/{dataset['files'][f'household_{household_id}']}")

In [4]:
plugs_columns = [household['plug_data']['plugs'][i]['appliance'] for i in household['plug_data']['plugs'].keys()]
plugs_columns

['Fridge',
 'Dryer',
 'Coffee machine',
 'Kettle',
 'Washing machine',
 'PC (including router)',
 'Freezer']

In [5]:
df = pd.read_csv("dataset/house_1/2012-06-26.csv")

In [10]:
df.head()

,powerallphases,powerl1,powerl2,powerl3,currentneutral,currentl1,currentl2,currentl3,voltagel1,voltagel2,...,phaseanglecurrentvoltagel1,phaseanglecurrentvoltagel2,phaseanglecurrentvoltagel3,Fridge,Dryer,Coffee machine,Kettle,Washing machine,PC (including router),Freezer
0,90,60,20,10,0.3,0.4,0.2,0.1,241.6,241,...,321,297,293,2.20578,0.0000,0.0,0.0,0.0,10.88240,32.4316
1,90,60,20,10,0.3,0.4,0.2,0.1,241.6,241,...,321,297,293,2.20578,2.1906,0.0,0.0,0.0,10.88240,32.4316
2,90,60,20,10,0.3,0.4,0.2,0.1,241.6,241,...,321,297,293,0.00000,0.0000,0.0,0.0,0.0,10.88240,32.4316
3,90,60,20,10,0.3,0.4,0.2,0.1,241.6,241,...,321,296,293,2.20578,0.0000,0.0,0.0,0.0,8.72955,32.4316
4,90,60,20,10,0.3,0.4,0.2,0.1,241.6,241,...,321,297,293,0.00000,0.0000,0.0,0.0,0.0,8.72955,32.4316

In [9]:
df.isnull().any()

powerallphases                False
powerl1                       False
powerl2                       False
powerl3                       False
currentneutral                False
currentl1                     False
currentl2                     False
currentl3                     False
voltagel1                     False
voltagel2                     False
voltagel3                     False
phaseanglevoltagel2l1         False
phaseanglevoltagel3l1         False
phaseanglecurrentvoltagel1    False
phaseanglecurrentvoltagel2    False
phaseanglecurrentvoltagel3    False
Fridge                        False
Dryer                         False
Coffee machine                False
Kettle                        False
Washing machine               False
PC (including router)         False
Freezer                       False
dtype: bool

In [12]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42, shuffle=True)

In [13]:
DATA_DIR = "dataset/house_1"
train_df.to_csv(f'{DATA_DIR}/train_data.csv', index=False)
test_df.to_csv(f'{DATA_DIR}/test_data.csv', index=False)